LEAN_IMAGE=quantconnect/lean:latest
LEAN_DATA_HOST_PATH=/path/to/lean/Data
LEAN_DATA_CONTAINER_PATH=/Lean/Data
LEAN_WORKSPACE=/path/to/lean/workspace
ARTIFACTS_CONTAINER_PATH=/Artifacts
RESULTS_CONTAINER_PATH=/Results
LEAN_LAUNCHER_WORKDIR=/Lean/Launcher/bin/Debug
LEAN_DOCKER_NETWORK=lean_cli
RESULTS_SCRATCH_PATH=./results
WORKER_COUNT=5
